.comment {
   display: flex;
}

.commentBody {
   flex-grow: 1;
   h2 {
      display: inline-block;
      font-size: 0.9rem;
      color: #333;
   }
   p {
      color: #555;
      font-size: 0.9rem;
      margin: 8px 0;
      font-weight: 500;
   }
}
.date {
   font-size: 0.8rem;
   color: #a7a7a7;
   margin-left: 5px;
}
